{% extends 'base.html' %} {% load static %} 

{% block meta %}
<title>Change Password | BekasBerkelas</title>
{% endblock meta %}

{% block content %}

<div class="min-h-screen flex flex-col items-center justify-center w-full bg-blue-100 px-4 py-12">
    <div class="max-w-md w-full space-y-8 bg-white p-8 rounded-xl shadow-lg">
        
        <div class="w-full flex justify-center mb-8">
            <img src="{% static 'image/logo-text.png' %}" alt="Logo" class="h-[100px]">
        </div>
        
        <form class="mt-8 space-y-6" method="POST">            
        {% csrf_token %}
        <div class="rounded-md shadow-sm space-y-2">
            <div class="mb-4">
                <label for="old_password" class="block text-sm albert-sans-semibold text-gray-700">Old Password</label>
                <input type="password" name="old_password" id="old_password"
                    class="appearance-none albert-sans-semibold rounded-lg relative block w-full px-3 py-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm">
            </div>
            <div class="mb-4">
                <label for="new_password1" class="block text-sm albert-sans-semibold text-gray-700">New Password</label>
                <input type="password" name="new_password1" id="new_password1"
                    class="aappearance-none albert-sans-semibold rounded-lg relative block w-full px-3 py-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm">
            </div>

            <div class="mb-4">
                <label for="new_password2" class="block text-sm albert-sans-semibold text-gray-700">Confirm New Password</label>
                <input type="password" name="new_password2" id="new_password2"
                    class="appearance-none albert-sans-semibold rounded-lg relative block w-full px-3 py-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm">
            </div>

        </div>
        <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
            <h2 class="albert-sans-semibold"> Change Password </h2>
        </button>
</form>

{% if messages %}
    <div class="mt-4 space-y-2 albert-sans-semibold">
    {% for message in messages %}
    {% if message.tags == "success" %}
            <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 rounded-r" role="alert">
                <p class="font-bold">Success</p>
                <p>{{ message }}</p>
            </div>
        {% elif message.tags == "error" %}
            <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 rounded-r" role="alert">
                <p class="font-bold">Error</p>
                <p>{{ message }}</p>
            </div>
        {% else %}
            <div class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4 rounded-r" role="alert">
                <p class="font-bold">Info</p>
                <p>{{ message }}</p>
            </div>
        {% endif %}
    {% endfor %}
    </div>
{% endif %}
<script src="{% static 'js/show_messages.js' %}"></script>

{% endblock content %}